body {
    background: linear-gradient(to bottom right, blue, pink);
}
.control-panel {
    margin-top: 50px;
    background-color:white;
    display: flex;
    border-radius: 16px 16px 0 0;
}
.control-panel a {
    text-decoration: none;
    color: rgb(91, 91, 91);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: block;

}
.product-main-container {
    padding: 20px;
}
.description-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.photo-panel {
    background-color: white;
    width: 49%;
}
.description-panel {
    background-color: white;
    width: 49%;

}
.photo-panel-img {
    width: 90%;
    display: block;
    margin: 20px auto;
}
.icon-component {
    display: inline-block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.dg {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dg-item {
    display: flex;
}
.text {
    font-size: 14px;
}
.pt4 {
    padding-top: 4px;
}
.characteristics-name {
    color: #0000008a;
}
.full-height {
    height: 100%;
}
.mr8 {
    margin-right: 8px;
}

.Price_price__KKCnw {
    padding: 30px;
    font-size: 28px;
    line-height: 33px;
}
h1 {
    padding: 30px;
}
.fz14  {
    font-size: 14px;

}
.aic {
    align-items: center;
}
.price_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: #ff7d2d;
    width: 220px;
    height: 46px;
    border-radius: 40px;
    border: none;
    color: white;
}
.Status_description__r2tSA {
    line-height: 16px;
    height: 26px;
    border-radius: 20px;
    display: inline-flex;
    padding: 0 8px 0 4px;
    color: var(--color-success);
    background-color: #f6f7f7;
}
:root {
    --color-success: #57ae00;
}
.Description_code__pNMOz {
    position: absolute;
    right: 50px;
    font-size: 14px;
    color: var(--color-gray-text);
    line-height: 17px;
}
.fz12 {
    font-size: 12px;
}
.aic {
    align-items: center;
}
.df {
    display: flex;
}
.Description_code__pNMOz svg {
    margin: 10px;
}
.PaymentMethods_paymentsTitle__EM0v5 {
    font-size: 16px;
    line-height: 18px;
}
.PaymentMethods_paymentsTitle__EM0v5 {
line-height: 18px;
color: var(--color-black-text);
margin-bottom: 12px;
}
.f-secodary {
    font-size: 14px;
}