<link rel="stylesheet" href="./productMain.css">
<div class="product-main-container">
    <div class="control-panel">
        <a href="">Все про товар</a>
        <a href="">Характеристики</a>
        <a href="">Відгуки</a>
    </div>
    <div class="description-container">
        <div class="photo-panel">
            <img src="../product/iphone15.webp" alt="iphone15">

            <div class="dg">
                <div class="dg-item">
                    <div class="full-height display mr8">
                        <img src="ic_battery_24px.svg" width="40px" height="40px">
                        <p class="text characteristics-name">Ємність аккумулятора</p>
                        <p class="text">3349 мАг</p>
                    </div>
                </div>
                <div class="dg-item">
                <div class="full-height dg mr8">
                    <img src="ic_camera_1_24px.svg" width="40px" height="40px">
                    <div class="pt4">
                        <p class="text characteristics-name">Основна камера</p>
                    <p class="text">48 Мп, 12 Мп</p>
                </div>
                </div>
            </div>
            <div class="dg-item">
                <div class="full-height display mr8">
                    <img src="ic_core_laptop1.svg" width="40px" height="40px">
                </div>
            </div>
            <div class="pt4">
                <p class="text characteristics-name">Процесор</p>
                <p class="text">Apple A16 Bionic</p>
            </div>
        </div>
        <div class="dg-item">
            <div class="full-height display mr8">
                <img src="ic_cpu_24px.svg" width="40px" height="40px">
            </div>
            <div class="pt4">
                <p class="text characteristics-name">Кількість ядер</p>
                <p class="text">6</p>
            </div>
        </div>
        <div class="dg-item">
            <div class="full-height display mr8">
                <img src="ic_diagonal_mob_24px.svg" width="40px" height="40px">
            </div>
            <div class="dg-item">
                <div class="pt4">
                    <p class="text characteristics-name">Діагональ екрану</p>
                    <p class="text">6,1"</p>
                </div>
            </div>
            <div class="dg-item">
                <div class="full-height display mr8">
                    <img src="ic_selfie_24px.svg" width="40px" height="40px">
                </div>
                <div class="pt4">
                    <p class="text characteristics-name">Фронтальна камера</p>
                    <p class="text">12 Мп</p>
                </div>
            </div>


            <div class="description-panel">

            </div>
        </div>
    </div>

</div>