<link rel="stylesheet" href="./productMain.css">
<div class="product-main-container">
    <div class="control-panel">
        <a href="">Все про товар</a>
        <a href="">Характеристики</a>
        <a href="">Відгуки</a>
    </div>
    <div class="description-container">
        <div class="photo-panel">

            <img class="photo-panel-img" src="../product/iphone15.webp" alt="iphone15">

            <div class="dg">

                <div class="full-height dg mr8">
                    <div class="svg">
                        <img src="ic_battery_24px.svg" width="40px" height="40px">
                    </div>
                    <div class="pt4">
                        <p class="text characteristics-name">Ємність аккумулятора</p>
                        <p class="text">3349 мАг</p>
                    </div>
                </div>
                <div class="full-height dg mr8">
                    <div class="svg">
                        <img src="ic_camera_1_24px.svg" width="40px" height="40px">
                    </div>
                    <div class="pt4">
                        <p class="text characteristics-name">Основна камера</p>
                        <p class="text">48 Мп, 12 Мп</p>
                    </div>
                </div>
                <div class="full-height dg mr8">
                    <div class="svg">
                        <img src="ic_core_laptop1.svg" width="40px" height="40px">
                    </div>
                    <div class="pt4">
                        <p class="text characteristics-name">Процесор</p>
                        <p class="text">Apple A16 Bionic</p>
                    </div>
                </div>
                <div class="full-height dg mr8">
                    <div class="svg">
                        <img src="ic_cpu_24px.svg" width="40px" height="40px">
                    </div>
                    <div class="pt4">
                        <p class="text characteristics-name">Кількість ядер</p>
                        <p class="text">6</p>
                    </div>
                </div>
                <div class="full-height dg mr8">
                    <div class="svg">
                        <img src="ic_diagonal_mob_24px.svg" width="40px" height="40px">
                    </div>
                    <div class="pt4">
                        <p class="text characteristics-name">Діагональ екрану</p>
                        <p class="text">6,1"</p>
                    </div>
                </div>
                <div class="full-height dg mr8">
                    <div class="svg">
                        <img src="ic_selfie_24px.svg" width="40px" height="40px">
                    </div>
                    <div class="pt4">
                        <p class="text characteristics-name">Фронтальна камера</p>
                        <p class="text">12 Мп</p>
                    </div>
                </div>

                
            </div>
        </div>
        <div class="description-panel">
           <h1>Apple iPhone 15 128GB Black (MTP03)</h1>
           <div class="icon">
           <span class="fz14 aic Status_description__r2tSA Status_descriptionGreen__lVEmS">
           <svg viewBox="0 0 24 24" fill="currentColor" class="icon-component Status_icon__KJOB_">
            <path class="icon-component" fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM10 14.17L15.88 8.29C16.27 7.9 16.91 7.9 17.3 8.29C17.69 8.68 17.69 9.31 17.3 9.7L10.71 16.29C10.32 16.68 9.69 16.68 9.3 16.29L6.71 13.7C6.32 13.31 6.32 12.68 6.71 12.29C7.1 11.9 7.73 11.9 8.12 12.29L10 14.17Z">

            </path>
        </svg>
        Є в наявності
    </span>
</div>
    <div class="price medium no-wrap f-secondary Price_price__KKCnw" data-price="36999">
        36&nbsp;999 
        <span class="medium Price_priceCurrency__kyMmb">₴</span>
    </div>             
        </div>
    </div>
</div>